<div class="col-lg-8 offset-lg-1 col-md-12">
		<div class="card  mt-5">
			<div class="card-header">
				<h3>Creer une figure</h3>
			</div>
			<div class="card-content mb-5">
				{{ form_start(form) }}

				{{ form_row(form.name, {'attr':{'placeholder':"Nom de la figure"}}) }}
				{{ form_row(form.content,{'attr':{'placeholder':"Contenu de la figure"}}) }}

				{{ form_row(form.category) }}
				<button type="button" class="add_item_link" data-collection-holder-class="video">Ajouter une video</button>
			<ul class="video"
		 data-index="{{ form.video|length > 0 ? form.video|last.vars.name + 1 : 0 }}"
		  data-prototype="{{form_row(form.video.vars.prototype)|e('html_attr')}}">
					{{ form_row(form.video) }}
					<span></span>
				</div>

				{{ form_row(form.pictures) }}


			</div>

			 <button class="btn">{{ button_label|default('ajouter la figure') }}</button>
			{{ form_end(form) }}

		</div>
			{{ form_end(form) }}
		</div>
	</div>