{% extends "base.html.twig" %}
{% form_theme formComment 'bootstrap_4_layout.html.twig' %}

{% block body %}

	<div class="container">
		<div class="card  mb-3 mt-5 ">
			<section class="Figure">
				<div class="card-header">
					<h2>{{trick.name}}</h2>
					<div class="metadata">
						Ecrit le
						{{trick.createdate | date('d/m/y')}}
						à
						{{trick.createdate| date('H:i')}}
						dans la catégorie
						{{trick.category.name}}
					</div>
				</div>
				<div class="card-content">

					<div class='row'>
						<div class='container'>

							<img src={{asset('Image/MethodeAir.jpg')}} alt=""></img>

						{{trick.content| raw}}
					</div>

				</div>
			</div>

		</section>
	</div>

	<div class="row">
		<img src={{asset('Image/MethodeAir.jpg')}} class="col-3" alt="" width="250" height="300">
		<div class='col-6'>
			<iframe width="250" height="300" src="https://www.youtube.com/embed/_hxLS2ErMiY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		</div>
	</div>


	
	{% if app.user %}
	
	<div class="col-lg-6 offset-lg-3 col-md-12">
		<div class="card  mt-5">
			<div class="card-header">


				<h3>
					Ajout d'un commentaire
				</h3>

			</div>
			<div class="card-content mb-5">
				{{ form_start(formComment) }}
				
				{{ form_row(formComment.content,{'attr':{'placeholder':"Ecrire un commentaire..."}}) }}

			</div>

			<button type="submit" class="btn btn-success">Ajouter un commentaire</button>
			{{ form_end(formComment) }}
		</div>
	</div>
	{% else %}
		<h5><i class="fas fa-exclamation-triangle"></i> Vous ne pouvez pas commenter si vous n'êtes pas connecté!<i class="fas fa-exclamation-triangle"></i></h5>
		<a class="btn btn-success" href="{{path('security_connexion')}}">Connexion</a>



{% endif %}
	<section id="commentaires" class='mt-5 mb-4'>

			
		{% for comment in trick.comments %}

		


			<div class="comment">

				<div class="row">
					<div class="col-3 mt-5">

						{{comment.user.userName}}
						<img src={{asset('Image/' ~ comment.user.avatar)}} class="" alt="" width="50" height="50"></div>


					<div class="col mt-5">{{comment.content}}
					</div>

					<div class='col-3 mt-5'>
						<small>{{comment.date | date('d/m/y')}}
							à
							{{comment.date | date('H:i')}}</small>
					</div>
				</div>
			</div>


		{% endfor %}
	</section>
</div></div>{% endblock %}
