{% extends "base.html.twig" %}
{% form_theme formComment 'bootstrap_4_layout.html.twig' %}

{% block body %}


	<div class="container mt-5">
		<div class="row justify-content-center mt-5">
			<div class="col-md-10 col-md-offset-1 mt-5 mb-4">
					{% if trick.pictures | length == 0 %}
									<img src={{asset('asset/lion.jpg')}} class="card-img-top" alt="">

								{% elseif trick.pictures | length == 1 %}
									<img src={{asset('Image/' ~ trick.pictures | first.filename)}} class="card-img-top" alt="">

								{% elseif trick.pictures | length > 1 %}
									{% set isMain = false %}
									{% for picture in trick.pictures %}
										{% if picture.main == 1 %}
											<img src={{asset('Image/' ~ picture.filename)}} class="card-img-top" alt="">
											{% set isMain = true %}
										{% endif %}
									{% endfor %}

									{% if isMain == false  %}
										<img src={{asset('Image/' ~ trick.pictures | first.filename)}} class="card-img-top" alt="">
									{% endif %}

								{% endif %}
					<div class="card-body">
						<ul class="list-inline trick-data">

							<li class="list-inline-item">
								{% for comment in trick.comments %}
									Par :
									{{comment.user.userName}}
								{% endfor %}
							</li>
							|

							<li class="list-inline-item">
								Ajouté le
								{{trick.createdate | date('d/m/y') }}
								(<small>Mise à jour le :
									{{trick.updatedate | date('d/m/y')}}
								</small>)
							</li>
							|
							<li class="list-inline-item">
								Catégorie :
								{{trick.category.name}}
							</li>

							|
							<li class="list-inline-item">
								{% if app.user %}

									<div class="col">
										<div class="name text-right">
											<a href="{{path('update_figure', {'slug':trick.slug})}}">
												<i class="far fa-edit right"></i>
											</a>
											<a href="{{path('delete_figure', {'slug':trick.slug})}}">
												<i class="far fa-trash-alt right"></i>
											</a>
											<a name="tricks"></a>
										</div>
									</div>
								{% else %}
									<div class="col">
										<div class="name text-right">

											<a name="tricks"></a>
										</div>
									</div>
								{% endif %}

							</li>
							|

						</ul>
						<hr>
						<h4 class="card-title">
							<strong>{{trick.name}}</strong>
						</h4>
						<hr>
						<div class="container">
							<div class="row mt-4 mb-4">
								<div class="  col-lg-3 col-md-12">
									<div class="card mb-4" width='250' height='250'>
										<div class="card-content ">

											{% if trick.pictures | length == 0 %}
												<img src={{asset('asset/lion.jpg')}} class="card-img-top" alt="">

											{% elseif trick.pictures | length == 1 %}
												<img src={{asset('Image/' ~ trick.pictures | first.filename)}} class="card-img-top" alt="">

											{% elseif trick.pictures | length > 1 %}
												{% for picture in trick.pictures %}
													<img src={{asset('Image/' ~ picture.filename)}} class="card-img-top" alt="">
												{% endfor %}
											{% endif %}
										</div>
									</div>
								</div>
								<div class="  col-lg-3 col-md-12">
									<div class="card mb-4" width='300' height='250'>
										<div class="card-content ">
										{% for video in trick.video %}
											 <iframe width="250" height="225" src={{""~ video.url}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
						</div>

						
		<hr>
		<h5 class="card-title">Description</h5>
		<p class="card-text text-justify">{{trick.content}}
			<button class='read-more-btn'>
				lire la suite
			</button>
		</p>

	</div>
	<!--  End Trick -->

	<!-- Start Comment Add Form -->
	<div class="col-md-12 px-0 mb-30">
		<div class="comments text-center p-3"></div>
	</div>
	<!-- Start Comment Add Form -->

	<!-- Start Comments -->
	<span class="comments-anchor" id="comments-block"></span>
	<div class="col-md-12 pl-0 pr-0">
		<div class="comments text-left padDiv mb-30">
			<div class="entry-comments">
				<ul class="entry-comments-list list-unstyled"></ul>
			</div>
		</div>
	</div>
	<!-- End Comments -->
</div></div></div>{% if app.user %}<div class="col-lg-6 offset-lg-3 col-md-12">
<div class="card  mt-5">
	<div class="card-header">


		<h3>
			Ajout d'un commentaire
		</h3>

	</div>
	<div class="card-content mb-5">
		{{ form_start(formComment) }}

		{{ form_row(formComment.content,{'attr':{'placeholder':"Ecrire un commentaire..."}}) }}
		{{ form_row(formComment.user) }}
	</div>

	<button type="submit" class="btn btn-success">Ajouter un commentaire</button>
	{{ form_end(formComment) }}
</div></div>{% else %}<h5>
<i class="fas fa-exclamation-triangle"></i>
Vous ne pouvez pas commenter si vous n'êtes pas connecté!<i class="fas fa-exclamation-triangle"></i></h5><a class="btn btn-success" href="{{path('security_connexion')}}">Connexion</a>{% endif %}<section id="commentaires" class='mt-5 mb-4'>{% for comment in trick.comments %}


<div class="comment">

	<div class="row">
		<div class="col-3 mt-5">

			{{comment.user.userName}}
			<img src={{asset('Image/' ~ comment.user.avatar)}} class="" alt="" width="50" height="50"></div>


		<div class="col mt-5">{{comment.content}}
		</div>

		<div class='col-3 mt-5'>
			<small>{{comment.date | date('d/m/y')}}
				à
				{{comment.date | date('H:i')}}</small>
		</div>
	</div>
</div>{% endfor %}</section></div></div>{% endblock %}
