{% extends "base.html.twig"  %}


{% block body %}


<img src="https://snowtricks.jeandescorps.fr/images/backflip.jpg" width="1519" height="800" alt="">

{% for trick in tricks %}
	<div class="container">
		<div class="row">
			<div class="  col-lg-3 col-md-12">

				<div class="card  mt-4 mb-4">


					<div class="card-header">
						<h4>{{trick.name}}</h4>
						{{trick.createdate | date('d/m/y')}}</h6>
				</div>


				<div class="card-content">{{trick.content}}</div>


				<div class="card-footer">
					<p>Catégorie:
						{{trick.category.name}}
						Fait part
						{{trick.users.avatar}}</p>

					<a href="{{path('show_figure')}}" class="btn btn-secondary">
						Détail de la figure</a>
					<a href="{{path('update_figure')}}">
						<i class="far fa-edit  right"></i>
					</a>
					<a href="">
						<i class="far fa-trash-alt right"></i>
					</a>
					<p>
					User:
					{{trick.users.avatar}}</p>
			</div>
	</div>


</div></div></div></div>{% endfor %}{% endblock %}
