{% extends "base.html.twig" %}

{% block body %}


	<div class="card  mb-3 mt-5 ">
		<section class="Figure">
			<div class="card-header">
				<h2>{{trick.name}}</h2>
				<div class="metadata">
					Ecrit le
					{{trick.createdate | date('d/m/y')}}
					à {{trick.createdate| date('H:i')}}
					dans la catégorie
					{{trick.category.name}}
				</div>
			</div>
			<div class="card-content">
				<img src="" alt="">
				{{trick.content}}

			</div>
		</section>
		<div class="card-header"></div>
		<div class="col-lg-6 offset-lg-3 col-md-12">
			<div class="card  mt-5">
				<div class="card-header">


					<h3>
						Ajout d'un commentaire
					</h3>

				</div>
				<div class="card-content mb-5"></div>

				<button type="submit" class="btn btn-success">Ajouter un commentaire</button>

			</div>
		</div>

		<div class="col-lg-6 offset-lg-3 col-md-12">
			<div class="card  mt-5">
				<div class="card-header">


					<h3>
						Commentaire
					</h3>

				</div>
				<div class="card-content">


					<div class="comment mb-4">
						<div class="col-lg-12 col-12">


							<div class="auteur">
								Yoann

							</div>
							<div class="date">14/08/2021</div>


							<div class="content col-12 mt-4">Contenu de commentaire
							</div>
							<div class="button col-2 offset-lg-10"></div>


						</div>

					</div>


				</div>
			</div>
		</div>
	</div>

{% endblock %}
