{% extends "base.html.twig"  %}
{% form_theme formUpdateTrick 'bootstrap_4_layout.html.twig' %}
{% block body %}

	<h1>Modifier un article</h1>

    {{ form_start(formUpdateTrick) }}

	{{ form_row(formUpdateTrick.name, {'attr':{'placeholder':"Nom de la figure"}}) }}
    {{ form_row(formUpdateTrick.content,{'attr':{'placeholder':"Contenu de la figure"}}) }}
    {{ form_row(formUpdateTrick.category) }}
    {{ form_row(formUpdateTrick.video) }}
    

    <button type="submit" class="btn btn-success"> Enregistrer</button>
    {{ form_end(formUpdateTrick) }}


{% endblock %}